{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frame of Mind</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
{% block content %}
<video autoplay loop muted id="landingvideo">
    <source src="{% static 'backgrounds/painting.mp4' %}" type="video/mp4">
</video>
<h2>Welcome to Frame of Mind</h2>
<a href="/artists/"><h1 class="homebtn">View Artists</h1></a>
{% endblock %}