.aboutTitle{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    letter-spacing: 0.3em;
    margin-top: 15vh;
}
.aboutparagraph{
    font-family: "Manrope", sans-serif;
    letter-spacing: 0.03em;
    margin-top: 6vh;
    line-height: 35px;
    margin-bottom: 10vh;
}
#aboutPic{
    width: 90vw;
    height: 60vh;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    margin-left: -23vw;
    border-radius: 0.25%;
}
.decorative-line {
    border: none;
    height: 0.5px; 
    background-color: white; 
    margin: 30px 2; 
    margin-bottom: 2vh;
}

@media (max-width: 768px) {
    #aboutPic{
        width: 90vw;
        height: 20vh;
        margin-left: 2vw;
        margin-bottom: 2px;
    }
    .aboutTitle{
        margin-top: 10px;
        font-size: 22px;
        text-align: center;
    }
    .aboutparagraph{text-align: center;}
}