*{
    box-sizing: border-box;
    margin:0;
}

body{
    display: flex;
    background-color: black;
    min-height: 100vh;
    flex-direction: column;
}
main{
 flex: grow 1 0 auto;
}

footer {
    padding-top: 0;
    text-align: right;
}

.navbar-brand{
    font-family: "Playfair Display", serif;
    font-style: italic;
}