{% extends 'base.html' %} 
{% load static %}

{% block csslinks %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
{% endblock %}
{% block content %}
<div class="container">
  <h1 class="detailTitle">{{ art.name }}</h1>
  <hr class="decorative-line">
  <div>
    <div class="card-body">
      <a href="{% url 'artists_detail' art.artist.id %}" class="card-text" id="byArtist">Artist: {{ art.artist }}</a>
      <img src="{{ art.image }}" class="card-img-top img-fluid" alt="Artwork Image">
      <p class="card-text aboutInfo">{{ art.description }}</p>
    </div>
    <div class="btns">
      <a href="{% url 'artworks_update' art.id %}" class="btn">Edit</a>
      <a href="{% url 'artworks_delete' art.id %}" class="btn">Delete</a>
    </div>
  </div>
</div>
{% endblock %}
