{% extends 'base.html' %} 
{% load static %}
{% block csslinks %}
<link rel="stylesheet" type="text/css" href="{% static 'css/artworksindex.css' %}">
{% endblock %}

{% block content %}
<h1 class="artworksTitle">Artworks</h1>
<div class="row" id="artworks-grid">
  {% for art in artworks %}
  <div class="col-sm-6 col-lg-11 mb-4 artwork-item">
    <a href="{% url 'artworks_detail' art.id %}">
      <img src="{{ art.image }}" class="img-fluid">
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}

